body{
    background-image: url("WhatsApp Image 2023-04-04 at 10.14.27 PM.jpeg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.one{
    color:rebeccapurple;
    
}